EDCB/**/*.bin
EDCB/**/*.ini
EDCB/**/*.crt
EDCB/**/*.key
EDCB/**/*.pem
EDCB/**/*DebugLog*.txt
EDCB/Setting/*
EDCB/WinSCard*
!EDCB/Bitrate.ini
!EDCB/BonCtrl.ini
!EDCB/BonDriver/*.ini
!EDCB/Setting/HttpPublic.ini
!EDCB/Setting/XCODE_OPTIONS.lua
!EDCB/**/*.example.ini
Xfce/.cache/
Xfce/.config/dconf/
Xfce/.config/fcitx/
Xfce/.config/fcitx5/
Xfce/.config/ibus/
Xfce/.config/mozc/
Xfce/.config/pulse/
Xfce/.dbus/
Xfce/.local/
Xfce/.wine64/
Xfce/.ICEauthority
Xfce/core
wine-mount.sh
!.gitkeep
